{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card mx-auto shadow-sm" style="max-width: 400px;">
        <div class="card-body">
            <h4 class="card-title text-center mb-4">Welcome Back!</h4>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <div class="text-center mt-3">
                <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Include reCAPTCHA API -->
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>

<script>

document.addEventListener('DOMContentLoaded', function () {

    grecaptcha.ready(function() {
        console.log("passed checkpoint 1");
        grecaptcha.execute(JSON.parse(document.getElementById('recaptcha_site_key').textContent), {action: 'login'}).then(function(token) {
            console.log("passed checkpoint 2");

            const tokenField = document.getElementById('id_recaptcha_token');
            if (tokenField) {
                tokenField.value = token;
                console.log('Token assigned successfully.');
            } else {
                console.error('Hidden input field not found!');
            }
        });
    });
});
</script>

{% endblock %}